<div class="d-flex justify-content-end mt-3">
	<button id="btn" routerLink="">back</button>
</div>

<div class="row gap-3 mt-4 mb-4 justify-content-center">
	<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2" *ngFor="let speaker of speakers1">
		<div class="card">
			<img class="card-img-top" [src]="speaker .pic" style="width: 300px;height: 300px" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title h4">{{speaker .name}}</h5>
				<p class="card-text h5">{{speaker .color}} <br> ₹{{speaker .price}}</p>
				<a [routerLink]="['speaker-view',speaker.id]" class="btn btn-primary">View</a>
			</div>
		</div>
	</div>
</div>


